@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply grid grid-cols-1 md:grid-cols-[200px_1fr] gap-4 mt-4;
  }

  .card-container {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }

    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }

    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }

    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
